@tailwind base;
@tailwind components;
@tailwind utilities;

/*Global CSS */
html,
body {
  scroll-behavior: smooth ;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.text-shadow {
  text-shadow: 1px 1px 3px rgb(0 0 0 / 29%), 2px 4px 7px rgb(73 64 125 / 35%)
}

/* NavbarArea CSS*/
.is-sticky {
  @apply fixed transition duration-500 top-0 left-0 w-full py-2 z-20;
}
.is-sticky.sticky-style-1 {
  @apply bg-slate-800 text-neutral-200
}

.offcanvas-menu-wrap {
  @apply before:absolute before:w-0 before:h-full before:top-0 before:right-0 before:bg-black before:z-10 before:opacity-90 before:ease-linear before:duration-[500ms] delay-[300ms];
}
.offcanvas-menu-wrap.active {
  @apply before:w-full before:visible before:opacity-90;
}
.offcanvas-menu-wrap .offcanvas-menu {
  @apply opacity-90 bg-white fixed top-0 right-[-300px] w-[300px] h-full ease-in-out duration-[450ms] delay-[350ms] p-5 z-20;
}
.offcanvas-menu-wrap.active .offcanvas-menu {
  @apply right-0 opacity-100;
}
.offcanvas-text {
  @apply pt-[15px] pb-[15px] border-t last:border-b text-[15px] leading-6 uppercase font-semibold;
}

/* Hero CSS*/

/* Overview Area CSS*/

/* Practice Area CSS*/

/* About Area CSS*/

/* Testimonial Area CSS*/

/* Contact Us Area CSS*/

/* Footer Area CSS*/
.fa-brands {
  color: white;
}
